.about {
  margin: 20px 0 10px 0;
  overflow: -webkit-paged-x;
}   
.about-section {
  margin: 20px 0 10px 0;
  overflow: -webkit-paged-x;
}
.about-block {
  box-sizing: border-box;
}
.about-site {
  padding: 0;
  font-size: 18px;
  color: $primary-medium-color !important;
  line-height: 30px;
}
.about-block h2 {
  color: $dark-background;
  margin: 0;
  font-size: 3rem;
}
.about-url {
  color: $primary-standout-color;
}
.about-block a{
  text-decoration: none;
  color: $primary-light-color;
} 
.about-site a {
  color: $primary-light-color;
  font-size: 16px;
}
.readmore { 
  margin-left: 4px;
}
@media only screen and (max-width: 600px) {
  .about-block h2 {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 400px) {
  .about-block h2 {
    font-size: 1.4rem;
  }
}
