/** global wide variables **/
$main-font-family: 'Roboto', sans-serif;
$site-width-large: 1200px;
$content-width: 850px;
$aside-width: 350px;
$main-background-color: #fff;
$dark-back-color: #fff;
$dark-background: #414552;

$primary-dark-color: rgba(0,0,0,.84);
$secondary-dark-color: #2f3a40;
$primary-medium-color:  rgba(0,0,0,.54);
$secondary-medium-color: rgba(0, 0, 0, 0.91);

$primary-light-color: #cfd4db;

$primary-standout-color: #186491;
$secondary-standout-color: orange;