header {
  position: fixed;
  box-sizing: border-box;
  z-index: 1;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 300px;
  height: 100%;
  background: #414552;
  z-index: 1;
  box-sizing: border-box;
  transition: all linear .4s;
}
.header-top {
  width: 100%;
}
.header-menu { 
  text-align: center;
  position: relative;
  top: 20px;
  width: 100%;
  overflow: -webkit-paged-y;
}

header a h1 {
  color: #fff;
  font-family: 'Bitter', serif;
  font-size: 18px;
  display: inline-block;
  margin: 0;
  position: absolute;
  left: 10px;
  top: 10px;
}
header a h1 small {
  font-size: 16px;
  color: $secondary-dark-color;
  background: $secondary-standout-color;
  border-radius: 50%;
  padding: 4px;
}
.hamburger {
  list-style: none;
  display: inline-block;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 13px;
  top: 13px;
  cursor: pointer;
}
.menu-top {
  display: block;
  width: 100%;
  height: 40px;
  border-bottom: 1px solid#35373e;
  box-shadow: 0 1px 1px -1px rgba(185, 179, 179, 0.75);
  text-align: right;
}
.close-menu {
  font-size: 24px;
  font-weight: bold;
  margin:  3px;
  cursor: pointer;
  position: relative;
  right: 10px;
  color: #fff;
}
.bar {
  width: 20px;
  margin-bottom: 0.1rem;
  border: 2px solid #888080;
}
.cat-list {
  color: #fff;
  top: 0;
}
.moveInUp-enter-active{
  animation: fadeIn 2s ease-in;
}
@keyframes fadeIn{
  0%{
    opacity: 0;
  }
  50%{
    opacity: 0.5;
  }
  100%{
    opacity: 1;
  }
}
#search_form {
  float: right;
  margin: 7px 0 0 10px;
}
.settings {
  position: absolute;
  bottom: 3px;
  right: 6px;
  width: auto;
  padding: 7px 5px 3px 5px;
  font-size: 1.2rem;
  color: grey;
  box-sizing: border-box;
  text-align: right;
  border: 1px solid #cdc8c8;
  border-radius: 5px;
}
.settings .not-active {
  cursor: pointer;
}
#search_mobile_button .icon-search {
  color: #fff;
}
#search-mobile {
  display: none;
  position: fixed;
  top: 63px;
  width: 100%;
  height: calc(100% - 63px);
  background: #fff;
  z-index: 1111;
  padding: 40px;
}
#search-mobile-close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
.hide_desktop {
  display: none;
}
.search-field-mobile {
  border: 0;
  border-bottom: 1px solid $secondary-dark-color;
  font-size: 32px;
  width: calc(100% - 70px);
}
.search-field-mobile:focus {
  outline: 0;
}
@media only screen and (min-width: 800px) {
  .hide_desktop {
    display: none;
  }
}
/* tablet */
@media only screen and (max-width: 800px) {
  .header-search {
    display: none;
  }
  .hide_desktop {
    display: inline-block;
  }
  .search_button {
    position: absolute;
    right: 10px;
    top: 0px;
    font-size: 24px;
  }
  .search-field {
    display: none;
  }
}
.submenu span{
  font-size: 0.87rem;
}
/* mobile */
@media only screen and ( max-width: 400px ) {
  header a h1 {
    font-size: 25px;
    top: 4px;
  }
  .header-search {
    position: absolute;
    top: 15px;
    right: 15px;
  }
  .header-menu{
    top: 50px;
  }
}
.favicon {
  border-radius: 5px;
  position: relative;
  top: 3px;
  height: 14px;
  width: 14px;
  margin-right: 10px;
}