html {
  overflow: -moz-scrollbars-vertical; 
  overflow-y: scroll;
  background: $main-background-color;
  scroll-behavior: smooth;
}
body { 
  font-family: $main-font-family;
  overflow-x: hidden;
}
.container {
  max-width: $site-width-large;
  margin: 0 auto;
  position: relative;
}
/* category menu */
.category-list {
  margin: 0;
  padding: 0;
}
.category-list li {
  position: relative;
  list-style: none;
  text-align: left;
}
.category-list li a {
  color: #fff;
  font-size: 25px;
  text-decoration: none;
  display: block;
  width: 100%;
  padding: 3px 50px;
  box-sizing: border-box;
}
.menu-item .nuxt-link-active {
  background: $secondary-standout-color;
  color: $secondary-dark-color;
}
.menu-item .nuxt-link-active::after {
  content: "";
  width: 12px;
  height: 12px;
  position: absolute;
  background: $secondary-dark-color;
  left: 26px;
  top: 12px;
  border-radius: 50%;
}
.category-list li a::before {
  content: "";
  width: 12px;
  height: 12px;
  position: absolute;
  background: $secondary-standout-color;
  left: 26px;
  top: 12px;
  border-radius: 50%;
}
.category-list-move-in {
  position: relative;
  animation-name: list-move-in;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}
@keyframes list-move-in {
  0% { left: -600px }
  100% { left: 0 }
}
.main-container {
  max-width: $site-width-large;
  padding-top: 85px;
  box-sizing: border-box;
  margin: 0 auto;
  overflow-y: hidden;
  overflow-x: hidden;
}  
.content {
  max-width: $content-width;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
  float: left;
  box-sizing: border-box;
}
.full-width-content {
  width: 100%;
  padding: 0 10px;
  box-sizing: border-box; 
}
/* headings */
.main-heading {
  color: $secondary-dark-color;
  font-size: 1.4rem;
}
.main-heading::before {
  width: 850px;
}
.heading {
  font-weight: normal;
}
// sub headings
.sub-heading {
  color: $primary-medium-color;
  font-size: 1 rem;
}
.sub-heading::before {
  width: 300px;
}
/* bread crumbs */
.crumb-link {
  color: $primary-medium-color;
  padding: 4px 0;
  font-size: 0.8rem;
}
.crumb-non-link {
  color: rgb(176, 38, 21);
  padding: 4px 0;
  font-size: .8rem;
}
.icon-right-open {
  color: $primary-medium-color;
  margin: 0 3px;
  padding: 1px 1px;
  position: relative;
  top: 2px;
}
#loading > * {
  overflow: hidden;
}
/** page transitions **/
.outIn-enter-active{
  animation: fadeIn 1.5s ease-in;
}
@keyframes fadeIn{
  0%{
    opacity: 0;
  }
  50%{
    opacity: 0.5;
  }
  100%{
    opacity: 1;
  }
}
.outIn-leave-active{
  animation: moveInUp .3s ease-in;
}
@keyframes moveInUp{
 0%{
  transform: translateY(0);
 }
  100%{
  transform: translateY(-400px);
 }
}