html {
  overflow: -moz-scrollbars-vertical; 
  overflow-y: scroll;
  background: $main-background-color;
  scroll-behavior: smooth;
}
body { 
  font-family: $main-font-family;
  overflow-x: hidden;
}
.main-header {
  width: calc(100% - 300px);
  border-bottom: 1px solid #cdc8c8;
  box-sizing: border-box;
  position: fixed;
  background: white;
  z-index: 111;
  transition: all linear .4s;
  padding: 11px 20px;
}
.main-header-content {
  position: relative;
  padding: 11px 10px 11px 20px;
}
.container {
  max-width: $site-width-large;
  margin: 0 auto;
  position: relative;
}
/* category menu */
.category-list {
  margin: 0;
  padding: 0;
}
.category-list li {
  position: relative;
  list-style: none;
  text-align: left;
  padding: 3px 10px 3px 20px;
}
.category-list li a {
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  display: inline;
  padding: 3px;
  box-sizing: border-box;
}

.menu-item .nuxt-link-active {
  color: #fff;
  box-sizing: border-box;
}
.nuxt-link-active .icon-right-open::before {
  transform: rotate(90deg);
  right: 5px;
  position: relative;
  color: #414552;
}
.category-list-move-in {
  position: relative;
  animation-name: list-move-in;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}
@keyframes list-move-in {
  0% { left: -600px }
  100% { left: 0 }
}
.main-container {
    box-sizing: border-box;
    overflow-y: hidden;
    position: relative;
    left: 300px;
    width: calc(100% - 300px);
    transition: all linear .4s;
}  
.content {
  max-width: 920px;
  margin: 0 auto;
  padding: 80px 10px 0 10px;
  box-sizing: border-box;
  transition: all linear .4s;
}
.full-width-content {
  width: 100%;
  padding: 0 10px;
  box-sizing: border-box; 
}
/* headings */
.main-heading {
  color: $secondary-dark-color;
  font-size: 1.4rem;
}
.main-heading::before {
  width: 850px;
}
.heading {
  font-weight: normal;
}
// sub headings
.sub-heading {
  color: $primary-medium-color;
  font-size: 1 rem;
}
.sub-heading::before {
  width: 300px;
}
/* bread crumbs */
.seperator {
  margin: 0px 6px 0px 10px;
  position: relative;
  color: #666a78;
  top: 2px;}
.crumb-link {
  color: $primary-medium-color;
  padding: 4px 0;
  font-size: 0.8rem;
}
.crumb-non-link {
  color: rgb(176, 38, 21);
  padding: 4px 0;
  font-size: .8rem;
}
.icon-right-open {
  color: $primary-medium-color;
  margin: 0 3px;
  padding: 1px 1px;
  position: relative;
  top: 2px;
  font-size: 0.8rem;
  display: inline-block;
  cursor: pointer;
  transition: all linear .3s;
}
#loading > * {
  overflow: hidden;
}
/** page transitions **/
.outIn-enter-active{
  animation: fadeIn 1.5s ease-in;
}
@keyframes fadeIn{
  0%{
    opacity: 0;
  }
  50%{
    opacity: 0.5;
  }
  100%{
    opacity: 1;
  }
}
.outIn-leave-active{
  animation: moveInUp .3s ease-in;
}
@keyframes moveInUp{
 0%{
  transform: translateY(0);
 }
  100%{
  transform: translateY(-400px);
 }
}