article(v-for='(article, index) in news', :key='index')
  .post
    .post-image-wrap
      .post-image(:style="{\
        background: 'url(' + article.image + '), url(/static/img/placeholder.jpg) no-repeat', \
        backgroundSize: 'cover', \
        backgroundPosition: 'center center',\
        width: '100%'}", :data-src='article.image')
    .post-text
      a.post-title(target='_blank', :href="article.url ")
        h2 {{ article.title }}
      .post-snippet {{ snippet(article.title, article.snippet) }} ...
      div
        router-link.nav-link.posted-from(:to="'/website/' + article.domain") {{ article.domain }}
      div
        i.icon-calendar(aria="hidden")
        time.post-date {{ fmtDate(article.date, currentYear) }}
        i.icon-clock(aria="hidden", v-if="article.wpm")
        span.wpm {{ wpm(article.wpm) }}
        i.icon-chat(aria="hidden")