header#header         
  .menu-top
    nuxt-link(to='/')
      h1 CYBER
        small bit
        | NEWS
    div(style='display: inline-block')
      i.icon-menu(v-on:click='moveHeader()')  
  nav.header-menu
    ul.category-list   
      li.menu-item
        nuxt-link.nav-link(to='/', exact) 
          i.icon-fire
          | latest
      li.menu-item
        nuxt-link.nav-link(to='/website') 
          i.icon-globe        
          | sites list    
      li.menu-item
        i.icon-right-open.rotateArrow.cat-list(@click="subCatOpenSites('developer', $event)")      
        nuxt-link(to="/category/developer") developer
        ul(v-if="developer === true")
          li(v-for="site in subMenu.Developer", v-bind:key="site.name")
            nuxt-link(:to="'/website/' + site.name", class="submenu")
              img(class="favicon", 
                :src="'https://www.google.com/s2/favicons?domain=' + site.link + '&alt=feed'")
              span {{ site.name }}
      li.menu-item
        i.icon-right-open.rotateArrow.cat-list(@click="subCatOpenSites('tech', $event)")      
        nuxt-link(to="/category/tech") tech
        ul(v-if="tech === true")
          li(v-for="site in subMenu.Tech", v-bind:key="site.name")
            nuxt-link(:to="'/website/' + site.name", class="submenu")
              img(class="favicon", 
                :src="'https://www.google.com/s2/favicons?domain=' + site.link + '&alt=feed'")
              span {{ site.name }}
      li.menu-item
        i.icon-right-open.rotateArrow.cat-list(@click="subCatOpenSites('linux', $event)")      
        nuxt-link(to="/category/linux") linux
        ul(v-if="linux === true")
          li(v-for="site in subMenu.Linux", v-bind:key="site.name")
            nuxt-link(:to="'/website/' + site.name", class="submenu")
              img(class="favicon", 
                :src="'https://www.google.com/s2/favicons?domain=' + site.link + '&alt=feed'")
              span {{ site.name }}
      li.menu-item
        i.icon-right-open.rotateArrow.cat-list(@click="subCatOpenSites('infosec', $event)")      
        nuxt-link(to="/category/infosec") infosec
        ul(v-if="infosec === true")
          li(v-for="site in subMenu.Infosec", v-bind:key="site.name")
            nuxt-link(:to="'/website/' + site.name", class="submenu")
              img(class="favicon", 
                :src="'https://www.google.com/s2/favicons?domain=' + site.link + '&alt=feed'")
              span {{ site.name }}                                                        
