header {
  position: fixed;
  height: 35px;
  width: 100%;
  background: $secondary-dark-color;
  padding: 15px 0;
  z-index: 1;
  box-shadow: 0px 3px 30px $primary-light-color;
  background-size: 4px 4px;
}
.header-top {
  width: 100%;
}

.header-search { 
  position: absolute;
  right: 5px;
  top: 1px;
 }
.header-menu { 
  text-align: center;
  position: relative;
  top: 55px;
  width: 100%;
  overflow: -webkit-paged-y;
}

header a h1 {
  color: #fff;
  font-family: 'Bitter', serif;
  font-size: 27px;
  display: inline-block;
  margin: 0;
  position: absolute;
  left: 60px;
  top: 2px;
}
header a h1 small {
  font-size: 1.5rem;
  color: $secondary-dark-color;
  background: $secondary-standout-color;
  border-radius: 50%;
  padding: 6px;
}
.hamburger {
  list-style: none;
  display: inline-block;
  margin: 0;
  padding: 0;
  margin-top: 8px;
  position: relative;
  left: 10px;
  cursor: pointer;
}
.menu-top {
  display: block;
  width: 100%;
  height: 30px;
  border-bottom: $main-background-color;
  text-align: right;
}
.close-menu {
  font-size: 24px;
  font-weight: bold;
  margin:  3px;
  cursor: pointer;
  position: relative;
  right: 10px;
  color: #fff;
}
.bar {
  width: 25px;
  margin-bottom: 3px;
  border: 2px solid #fff;
  background: #fff;
  border-radius: 25%;
}
#side-menu {
  position: fixed;
  left: -300px;
  top: 0;
  bottom: 0;
  width: 300px;
  height: 100%;
  background: $secondary-dark-color;
  opacity: 0.97;
  z-index: 1;
  padding: 20px 0;
  box-sizing: border-box;
  transition: all 0.4s ease;
}
.moveInUp-enter-active{
  animation: fadeIn 2s ease-in;
}
@keyframes fadeIn{
  0%{
    opacity: 0;
  }
  50%{
    opacity: 0.5;
  }
  100%{
    opacity: 1;
  }
}
#search_form {
  float: right;
  margin: 7px 0 0 10px;
}
.search_button {
  border: 2px solid transparent;
  background: transparent;
  color: $secondary-dark-color;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 6px;
}
.search-field {
  cursor: text;
  width: 285px;
  color: $primary-medium-color;
  display: inline-block;
  border: 1px solid $primary-light-color;
  border-radius: 2rem;
  font-size: .9rem;
  line-height: 2rem;
  padding: 0 .5rem 0 1rem;
  outline: none;
  transition: all .2s ease;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: $primary-light-color;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: $primary-light-color;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: $primary-light-color;
}
#search_mobile_button .icon-search {
  color: #fff;
}
#search-mobile {
  display: none;
  position: fixed;
  top: 63px;
  width: 100%;
  height: calc(100% - 63px);
  background: #fff;
  z-index: 1111;
  padding: 40px;
}
#search-mobile-close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
.hide_desktop {
  display: none;
}
.search-field-mobile {
  border: 0;
  border-bottom: 1px solid $secondary-dark-color;
  font-size: 32px;
  width: calc(100% - 70px);
}
.search-field-mobile:focus {
  outline: 0;
}
@media only screen and (min-width: 800px) {
  .hide_desktop {
    display: none;
  }
}
/* tablet */
@media only screen and (max-width: 800px) {
  .header-search {
    display: none;
  }
  .hide_desktop {
    display: inline-block;
  }
  .search_button {
    position: absolute;
    right: 10px;
    top: 0px;
    font-size: 24px;
  }
  .search-field {
    display: none;
  }
}

/* mobile */
@media only screen and ( max-width: 400px ) {
  header a h1 {
    font-size: 25px;
    top: 4px;
  }
  .header-search {
    position: absolute;
    top: 15px;
    right: 15px;
  }
  .header-menu{
    top: 50px;
  }
}