$placeholder-background: #ebe9e9;
.placeHolder {
  width: 99%;
  height: 25px;
  background: $placeholder-background;
  border: 1px solid #aaa5a5;
  margin-bottom: 10px;
  border-radius: 5px;
}

.post {
  margin-bottom: 30px;
  max-width: 800px;
  min-height: 175px;
}
.post-text {
  width: calc(100% - 260px); 
  float: right; 
  box-sizing: border-box;
  padding-left: 8px;
}
.post-image-wrap {
  width: 30%; 
  float: left;
}
.post-image {
  background-size: contain;
  width: 240px;
  height: 178px;
  display: block;
}
.post-no-image {
  width: 100% !important;
  min-height: 135px;  
}
.wpm {
  color: $secondary-medium-color !important;
  font-size: 14px;
}
.post-title {
  text-decoration: none;
  line-height: 25px!important;
  font-weight: 600!important;
  font-size: 12px;
}
.icon-calendar, .icon-clock, .icon-chat {
  color: $secondary-medium-color;
}
icon-calendar, icon-clock {
  margin-right: 20px;
}
.icon-clock, .icon-chat {
  margin-left: 8px
}
.icon-chat {
  font-size: 1.1rem;
  display: inline-block;
  position: relative;
  top: 2px;
}
.post-title h2 {
    margin-top: 0;
    color: $primary-dark-color !important;
}
.post-date {
    color: $secondary-medium-color !important;
    font-size: 14px;
}
.post-snippet {
    color: $primary-medium-color!important;
    line-height: 22px;
}
.posted-from {
    line-height: 30px;
    text-decoration: none;
    color: $primary-standout-color;
}
time {
    display: inline;
    color: $primary-medium-color !important;
}
/* tablet */
@media only screen and (max-width: 800px) {
  .post-image-wrap {
    float: none;
    width: 100%;
  }
  .post-image {
    width: 100%;
  }
  .post-text {
    width: 100%;
    float: none;
    box-sizing: border-box;
    padding: 20px;
    box-sizing: border-box;
  }  
}

/* mobile */
@media only screen and ( max-width: 400px ) {
  .post {
    margin-bottom: 0;
  }
  .category-list li {
    font-size: 12px;
  }
  .post-text {
    padding: 20px 0;
  }
}